<div class='col-xs-12 col-sm-6'>
  <label for={{id}}>{{name}}</label>
  <select class='form-control' id={{id}}>
    {{#times max}}
      {{#if_eq ../default this}}
        <option value={{this}} selected=true>{{this}}</option>
      {{else}}
        <option value={{this}}>{{this}}</option>
      {{/if_eq}}
    {{/times}}
  </select>
</div>
