{{#if_eq hidden true}}
  <div class='col-xs-12 col-sm-6 {{class}}' style='display: none'>
{{else}}
  <div class='col-xs-12 col-sm-6 {{class}}'>
{{/if_eq}}
  <label for={{id}}>{{name}}</label>
  <select class='form-control' id={{id}}>
    {{#times max}}
      {{#if_eq ../default this}}
        {{#if_eq ../negative true}}
          <option value={{neg this}} selected=true>{{neg this}}</option>
        {{else}}
          <option value={{this}} selected=true>{{this}}</option>
        {{/if_eq}}
      {{else}}
        {{#if_eq ../negative true}}
          <option value={{neg this}}>{{neg this}}</option>
        {{else}}
          <option value={{this}}>{{this}}</option>
        {{/if_eq}}
      {{/if_eq}}
    {{/times}}
  </select>
</div>
